body{
    margin: 0;
    background-color: rgb(231, 231, 231);
    font-family: roboto;

}
input{
    border: none;
    box-shadow: 5px 1px 32px -9px rgba(0,0,0,0.35);
}
.banniere {
background-image: url(banniere4.jpg)  ;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}
.title-banniere{
    color: white;
    font-size: 35px;
    margin-top: -450px;
    margin-left: 60px;
}
.block-one{
    margin-bottom: 250px;
}
.block-two{
    background: white;
    display: flex;
    padding: 10px 60px;
    justify-content: space-around;
    
    
}
.left-block,.right-block,.mittle-block{
    display: flex;
    flex-direction: column;
}
.item-left-one ,.item-left-two,.item-left-three,.item-left-four,.item-left-five{
    display: flex;
}
#icone-left ,#icone-right{
margin: 30px;
padding: 20px;
background-color: #c79e45;
border-radius: 100%;
width: 15px;

box-shadow: 3px 4px 16px -1px rgba(0,0,0,0.34);
 border: none;
 margin-bottom: 2px;

}
#icone-right{
    display: flex;
}
.location,.email,.contact,.agence{
    margin-top: 50px;
}
.block-three {
    display: flex;
    flex-direction: column;
    background-color:white ;
    margin: 0 200px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    white-space: nowrap;
}
.first-part ,.second-part{
    display: flex;
    padding: 20px;
}
.information{
    padding: 10px;
    width: 15rem;
    border-radius: 5px;
    margin-top: -5px;
    margin-right: 30px;
    margin-left: 10px;
}
.label ,.label-message{
    font-weight: bold;
    margin-right: 20px;
}

.label-message{
margin-left: 20px;
}
.information-message{
    padding: 20px 40px 70px 40px;
    max-width: 39rem;
    border-radius: 5px;
    margin-right: 40px;
margin-left: 80px;
}
textarea{
    border: none;
    box-shadow: -2px 7px 52px -30px rgba(0,0,0,1);
    
}
.send{
    border-radius: 5px;
    padding: 15px 50px;
    background-color:#c79e45 ;
    margin-left: 50%;
    border: none;
    box-shadow: -2px 7px 52px -23px rgba(0,0,0,1);
    
}
#nom{
    margin-left: 150px;
}
#prenom{
    margin-left: 50px;
}

.third-part{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}
.left-block{
    margin-right: -200px;
}
#Numero,#email{
    width: 220px;
    margin-left: 30px;
}
#email{
    margin-left: 60px;
}
@media screen and (max-width:1262px ) {
    .first-part,.second-part{
        display: flex;
        flex-direction: column;
        margin-bottom: -15px;
        
    }
    .information , #nom, #email{
        margin-top: -20px;
        margin-left: 180px;
        margin-bottom: 10px;
        width:  25rem;
        margin-right: 20px;
    }
    .information-message{
        margin-left: 70px;
        width: 22rem;
    }
    .block-two{
        margin-top: 5px;
    }
    .title-banniere{
        margin-top: -250px;
        font-size: 20px;

           }
           .title-one{
            margin-bottom: -30px;
        }
        .block-two{
            padding-left: 10px;
            margin-right: -40px;
            margin-top: -100px;
         }
         .block-three{
             margin-top: 15px;
         }
         .send{
            margin-left: 50%;

         }
         #prenom{
             margin-left: 180px;
         }
}
@media screen and (max-width:1098px) {
    
    
    .information , #nom, #email{
        width: 40rem;

    }
    .block-three{
        margin: 0px;
        margin-top: 15px;
        margin-right: -20px;
    }
    .block-one{
        margin-right: -20px;

    }
    .block-two{
        padding-left: 10px;
        margin-right: -20px;
        margin-top: -100px;
    }
    .information-message{
        width: 35rem;
    }
    p{
            white-space:normal;width:15rem   ; 
        }
    .label-message{
        margin-left: 20px;
    }
    .mittle-block{
        margin-right: -80px;
        margin-left: -20px;
    }
    .title-one{
        margin-bottom: -30px;
    }
     .send{
        margin-left: 50%;

     }
     .agence , .contact,.email,.location{
        margin-top: 40px;
        margin-left: -15px;
    }
}
@media screen and (max-width:935px) {
    .information , #nom, #email{
        width: 35rem;
    }
        .information-message{
            width: 30rem;
        }
        .mittle-block{
            margin-right: 40px;
            margin-left: 50px;
        }
   .left-block{
       margin-left: 5px;
   }
   #icone-left,#icone-right{
    box-shadow: 3px -5px 23px -7px rgba(3,3,3,0.82);
    border: none;

}
.send{
    margin-left: 45%;
}
}
@media screen and (max-width:852px) {
.left-block{
    margin-left: -70px ;
}
.information , #nom, #email{
    width: 30rem;
}
    .information-message{
        width: 25rem;
    }
    .agence , .contact,.email,.location{
        margin-top: 40px;
        margin-left: -15px;
        margin-right: 40px;
    }
    .information-message{
        margin-left: 40px;
    }
   
}
@media screen and (max-width:760px) {
.block-two{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.left-block , .right-block{
    margin-left: 50px;
}
#icone-left,#icone-right{
    
    padding: 25px;
    margin-right: 60px;
    margin-bottom: 2px;
}

.first-part{
    flex: none;
}

.information , #nom, #email,.information-message {
    margin: 10px 0px;
}
    .information-message{
        margin-top: 40px;
        margin-left: -120px;
    }
    .send{
        margin-left: 25%;

    }
    .block-three{
        padding-left: 100px;
    }
    p{
        white-space:normal;width:25rem   ; 
    }
    #prenom{
        margin-left: -5px;
    }
    .information-message{
        margin-left: -125px;
    }
}
    @media screen and (max-width:656px) {
        .send{
            margin-left: 25%;
    
        }
        .block-three{
            padding-left: 60px;
        }
}
@media screen and (max-width:616px) {
    .block-three{
        padding-left: 40px;
        
    }
    .information, #nom, #email{
width: 400px;
    }
    .information-message{
        width: 350px;
    }
}
@media screen and (max-width:524px) {
    .block-three{
        padding-left: 30px;
        
    }
    .information, #nom, #email{
width: 300px;
    }
    .information-message{
        width: 250px;
    }
    .left-block , .right-block ,.mittle-block{
        margin-left: -30px;
    }
    #icone-left,#icone-right{
    
        padding: 25px;
        margin-right: 40px;
    }   
    p{
        white-space:normal;width:17rem   ; 
    }
}
@media screen and (max-width:384px) {
    .block-three{
        padding-left: 20px;
        
    }
    p{
        white-space:normal;width:15rem   ; 
    }
    .information, #nom, #email{
width: 200px;
    }
    .information-message{
        width: 150px;
    }
    .send{
        margin-left: 18%;

    }
    .left-block , .right-block ,.mittle-block{
        margin-left: -40px;
    }
    #icone-left,#icone-right{
    
        padding: 25px;
        margin-right: 40px;
    }   
}
@media screen and (max-width:343px) {
    p{
        white-space:normal;width:13rem   ; 
    }
}
    @media screen and (max-width:311px) {
        p{
            white-space:normal;width:11rem   ; 
        }
    }
@media screen and (max-width:280px) {
    .block-three{
        padding-left: 5px;
        
    }
    p{
        white-space:normal;width:12rem   ; 
    }
    .information, #nom, #email{
width: 150px;
    }
    .information-message{
        width: 100px;
    }
    .send{
        margin-left: 14%;

    }
    .left-block , .right-block ,.mittle-block{
        margin-left: -60px;
    }
    #icone-left,#icone-right{
    
        padding: 25px;
        margin-right: 30px;
    }   
    .block-two{
        margin-top: -150px;
    }
}
    @media screen and (max-width:261px) {
        p{
            white-space:normal;width:10rem   ; 
        }
    
}
@media screen and (max-width:245px) {
    p{
        white-space:normal;width:10rem   ; 
    }
}

